# Build
src/build
src/*.elf
src/include/DownloadMii/*.*
src/include/DownloadMii.h
src/source/DownloadMii/*.*
src/source/DownloadMii.cpp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data files
src/data/*.ttf